
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.app{
   min-height: 100dvh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: whitesmoke;
}
.layout{
   padding: 10px 10px 0 10px;
   border-radius: 10px;
   border: 1px solid gray;
   height: 600px;
   width: 800px;
   background-color: lightgreen;
}